/** Main header styling **/
@media screen and (max-width: 1000px) {
    .header-text {
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 10%;
    }

    #header {
        text-align: center;
    }

    .main-nav-text {
        position: relative;
        bottom: 10%;

    }

}
@media screen and (max-width: 480px) {
}

#header {
    font-family: 'Franklin Gothic Medium';
    font-size: 1.5rem;
    

    background: rgb(255, 174, 0);
    border-top: 10px solid rgb(221, 146, 7);
    border-bottom: 10px solid rgb(221, 146, 7);

    height: 5%;
}

.header-text {
    display: flex;
    position: relative;
    align-items: center;

    justify-content: space-around;
    width: 100%;
}

.main-nav-text {
font-size: 30px;
display: flex;

}
.nav-item {
    padding-right: 3vw;
}

.symbol {
    width: 30px;
    height: auto;

    margin-left: 5px;
}


/**https://www.w3schools.com/howto/howto_css_image_text.asp**/
.top-image {
    position: relative;
    text-align: center;
}
#top-image-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);

    font-size: 1.5em;
    width: 80%;

    background-color: orange;
    border-top: 2px solid rgb(221, 146, 7);
    border-bottom: 5px solid rgb(221, 146, 7);
}
#header-picture {
    width: 1500px;
    height: auto;

    white-space: nowrap;
    
}


/** Articles mid section **/
.main-articles {
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
    
}

.mid-section {
    display: flex;
    flex-direction: row;


    margin-right: 30px;
    margin-left: 30px;

    width: 100%;

    border-top: 5px solid rgb(221, 146, 7);
    border-bottom: 5px solid rgb(221, 146, 7);
    background-color: rgb(214, 193, 152);
    text-align: center;
    
}

.left {
display: flex;
flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;

    margin-right: 10px;
    margin-left: 10px;
}
/** Articles bottom section **/
.bottom-section {
    text-align: center;
    background-color: rgb(214, 193, 152);
    border-top: 5px solid rgb(221, 146, 7);
    border-bottom: 5px solid rgb(221, 146, 7);
    margin-top: 15px;

}

.bottom-of-page {
    display: flex;
    flex-direction: column;

    text-align: center;
    margin-top: 30px;

    background-color: orange;
    border-top: 5px solid rgb(221, 146, 7);
    border-bottom: 5px solid rgb(221, 146, 7);
}

/**Oppenheimer page**/
.text {
    margin-left: 30px;

}
#oppie-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}
.quote-oppie {
    display: grid;
    flex-direction: column;
    text-align: center;

    grid-template-rows: 40px;
}
.text-section {
    display: flex;
    justify-content: space-between;

    margin-right: 15px;
    margin-left: 10px;
    margin-bottom: 10px;

}





