/** Main header styling **/
/**https://www.w3schools.com/cssref/css3_pr_mediaquery.php**/
@media only screen and (max-width: 1040px) {
    #top-header {
        flex-direction: column;
    }

    #top-title {
        justify-content: center;
    }

    #top-nav {
        padding: 0;
    }

    .main-articles {
        flex-direction: column;
        margin-right: 40px;
    }

}

@media only screen and (max-width: 550px) {
    #top-title {
        display: flex;
        flex-direction: column;
    }

    #top-nav {
        flex-direction: column;
    }

    .nav-item {
        padding: 10px;
    }

    .mid-section {
        flex-direction: column;
    }

    .left {
        align-items: center;
    }

    #top-image-text {
        margin-top: 10px;
    }

}

#top-header {
    padding: 1rem;
    background: orange;
    border-top: 2px solid rgb(221, 146, 7);
    border-bottom: 5px solid rgb(221, 146, 7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-title {
    font-size: 42px;
    border-bottom: 5px solid black;
    text-shadow: 2px 2px rgb(191, 124, 0);
}

#top-nav {
    display: flex;
}

.nav-item {
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Franklin Gothic Medium';
    color: black;
}
.nav-item:hover {
    font-size: 35px;
}

.symbol {
    width: 30px;
    height: auto;

    margin-left: 5px;
}


/**https://www.w3schools.com/howto/howto_css_image_text.asp**/
.top-image {
    position: relative;
    display: flex;
    justify-content: center;
}

#top-image-text {
    position: absolute;
    top: 5%;
    font-size: 130%;
    font-family: Helvetica;
    max-width: 79%;
    text-align: center;

    background-color: orange;
    border-top: 2px solid rgb(221, 146, 7);
    border-bottom: 5px solid rgb(221, 146, 7);
}

#header-picture {
    width: 100%;
    min-width: 900px;
}


/** Articles mid section **/
.main-articles {
    display: flex;
    justify-content: space-around;

}

.mid-section {
    display: flex;

    margin: 20px;
    width: 100%;

    border-top: 5px solid rgb(221, 146, 7);
    border-bottom: 5px solid hsl(39, 94%, 45%);
    background-color: rgb(214, 193, 152);
    box-shadow: 15px 15px rgb(236, 210, 174); /**https://www.w3schools.com/cssref/css3_pr_box-shadow.php**/
    text-align: center;

}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;

    font-size: 110%;

    margin-right: 5%;
    margin-left: 5%;
}

.article-button {
    background-color: beige;
    border: 1px solid black;
    border-radius: 15px;

    width: 100%;
    height: 35px;

    margin-bottom: 5%;
}

/** Article bottom section **/
.bottom-section {
    text-align: center;
    background-color: rgb(214, 193, 152);
    border-top: 5px solid rgb(221, 146, 7);
    border-bottom: 5px solid rgb(221, 146, 7);
    margin-top: 5%;
    font-size: 110%;

}

.footer {
    display: flex;
    flex-direction: column;

    text-align: center;
    margin-top: 5%;

    background-color: orange;
    border-top: 5px solid rgb(221, 146, 7);
    border-bottom: 5px solid rgb(221, 146, 7);
}
#bottom-button {
    background-color: beige;
    border: 1px solid black;
    border-radius: 15px;

    width: 40%;
    height: 35px;
    
    margin-bottom: 10px;
}

.footer-icons {
    margin-top: 10px;
    justify-content: space-around;
}

.footer-item {
    width: 40px;
}
.footer-item:hover {
    width: 45px;
}